@import "csu_prox_font.css";

/*
    Author: Bogdan Vasilchenko, student SE, College of Vet Sciences. Project Manager: Wenjing Jiang
    Date created: 19 May 2021
    Description: This stylesheet is for sulfur.html page
*/

#heading_content{
    margin-bottom: -5px !important; 
}
b {

    font-weight: bold; 
}

.inputTable{
    size: 10%;
    width: auto;
}
@media (max-width: 767.98px) {
    /*By default, containers are only full-width on xs screens.
    This makes them full-width om sm screens as well*/
    .container {
        margin-left: 0;
        margin-right: 0;
        max-width: 100% !important;
    }
}

#heading_content{

    font-family: "prox-regular", Arial, sans-serif;
}

.heading_text{
    font-family: "prox-semibold", Arial, sans-serif;

}

.animal_top_table{
    border-collapse: separate;
    border-spacing:  0px;
    margin-top: 5%;
}

.big-csu-button-primary{
    background-color: #1E4D2B;
    border-radius: 8px;
    margin: 10px;
    color: #FFFFFF;
    padding: 2%;


}
.big-csu-button-primary:hover{
    background-color: #12381d;
}
#alt_result p{
    font-size: 1.03rem !important;
}
#alt_result .row{
padding-top: 10px;
}
.big-csu-button-secondary{
    background-color: #1E4D2B;;
    border-radius: 8px;
    margin: 10px;
    color: #ffffff;
    padding: 2%;


}

.big-csu-button-secondary:hover{
    background-color: #12381d;
}
.big-csu-button h4{
    font-family: "prox-semibold", Arial, sans-serif;
    justify-content: center;
}
.btn-csu-primary{
    background-color: #1E4D2B;
    color: #FFFFFF;
    font-family: "prox-regular", Arial, sans-serif;

}

.btn-csu-secondary{
    background-color: #C8C372;
    color: #FFFFFF;
    font-family: "prox-regular", Arial, sans-serif;


}
.sub-buttons-row{
    margin-top: 1px;
    margin-bottom: 3%;

}
/*$csu-green: #1E4D2B;*/
/*$csu-gold: #C8C372;*/
/*$csu-white: #FFFFFF;*/

/*// Aggie (CSU - Secondary)*/

/*$black-80: #59595B;*/
/*$aggie-orange: #D9782D;*/

/*// Tertiary (CSU - Tertiary)*/

/*$alfalfa: #C9D845;*/
/*$canyon: #CC5430;*/
/*$dark-slate: #105456;*/
/*$reservoir: #12A4B6;*/
/*$sunshine: #ECC530;*/

/*// Color Theme*/

/*$primary: $csu-green;*/
/*$secondary: $csu-gold;*/
/*$success: $dark-slate;*/
/*$info: $reservoir;*/
/*$warning: $sunshine;*/
/*$danger: $canyon;*/
/*$link: $dark-slate;*/