/***********************************************/
/* emx_nav_left.css                            */
/* Use with template Halo_leftNav.html         */
/***********************************************/

/***********************************************/
/* HTML tag styles                             */
/***********************************************/
body {font-family: Arial, Helvetica, sans-serif; color: #333333; line-height: 1.166; margin: 0px; padding: 0px;	background: #f8efc5 url(../images/bg_grad.jpg) fixed;}

/******* hyperlink and anchor tag styles *******/

a:link  {color: #006633; text-decoration: underline;}
a:visited {color: #666600;}
a:hover {text-decoration: none;}

/************** header tag styles **************/

h1 {font: bold 175% Arial,sans-serif; color: #006666;}
h2 {font: 120% "bold Arial", Helvetica, sans-serif; color: #00674e;}

/***********************************************/
/* Layout Divs                                 */
/***********************************************/
#pagecell{
	position: absolute;
	top: 147px;
	left: 250px;
	right: auto;
	width: 700px;
	background-color: white;
	border: 1px solid #ccd2d2;
	padding: 1em 1em 1em;
	clear: both;
}
/* #rotating-images {width: 450px;}  */
p {font-size: 80%; line-height: 1.3em; color: #383838;}
h2.welcome {margin: 0; font-size: 90%; font-weight: bold; padding: 1em 0 0 0; clear: both; color: #666; width: 430px;}
h3.welcome {margin: 0; font-size: 115%; clear:both; color: #00674e; width: 450px;}
p.welcome {width: 430px;}


.spotlight h2 {display: inline; margin: 5em 0.75em 1em 0.75em; padding: 0.15em; background-color: #eee; text-align: left;}

 /* TopNavTags */ 

#topnav{color:#006633; font-size: 12px; background-color: #f8efc5; font-weight: bold; }
#topnav a{background-color: #f8efc5; text-decoration: underline;}
#tr {position:absolute; top: -1px; right: -1px; margin: 0px; padding: 0px;}

#masthead {position: absolute; top: -9px; width:100%; left: 2px;}

/***********************************************/
/* Navigation tags                             */
/***********************************************/

#nav, #nav ul {padding: 0; margin: 10px; width: 8em; list-style: none; color: #f8efc5; font: small Arial,sans-serif; background: #f8efc5; z-index: 1000; clear: both;}
	
#nav li { /* all list items */
		/*position : relative;*/
		top: 147px; float: left; line-height: 1.25em; margin-bottom: -1px; width: 8em; z-index: 1000;}
	
#nav li ul { /* second-level lists */
		position: absolute; left: -999em; margin-left: 9em; margin-top: -4em; z-index: 1000;}
	
#nav li ul ul { /* third-and-above-level lists */
		left: -999em; z-index: 1000;}
	
#nav li a {width: 8em; display: block; color: black; font-weight:normal; font-size:105%; text-decoration: none; background-color: #d6dbb0; 	padding: 0.5em 0.5em; border-top: thin solid #f8efc5; border-right: thin solid #ffffff; border-bottom: thin solid #ffffff; border-left: thin solid #f8efc5; z-index: 1000;}
	
#nav li a:hover {color : #006633; background-color : #f8efc5; z-index: 1000;}
	
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {left: -999em; z-index: 1000;}
	
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul { /* lists nested under hovered list items */
		left: auto;	z-index: 1000;}

/********* August styles **********
#news {position: absolute; top: 0.25em; left: 470px; width: 220px;  margin: 0.75em 0; background-color:#f4f4f4; padding: 1em 1em 0em 1em;}
#news h2 {font-family: Arial, Helvetica, sans-serif; margin-bottom:0.25em; padding:0; color: #374A3B; font-size: 90%; font-weight: bold;}
#news ul,ol {margin:0; padding:0;  font-size: 75%; letter-spacing: 0.03em;}
#news li {margin-bottom: 0.7em; list-style: none;}
#news li a {color: #444; text-decoration: none;}
#news li a:hover {background-color: #f8efc5;}
#news li a.more {color: #006633;}
#news li a.bullet {list-style: disc; }
a.logo:hover {background-color: #fff;}*/


#rotating-images {width: 450px;}  

/********* news with picture styles ***********/
/* original news styles - trying something new 5/8/09 JL 


#news {position: absolute; top: 0.25em; left: 470px; width: 195px;  margin: 0.75em 1em 0.75em 1em; background-color:#f4f4f4; padding: 0.5em 1em 0.25em 1em;}
#news h2 {font-family: Arial, Helvetica, sans-serif; margin-bottom:0.7em; padding:0; color: #374A3B; font-size: 90%; font-weight: bold;}
#news ul,ol {margin:0; padding:0;  font-size: 75%; }
#news li {list-style: none; margin-bottom: 0.75em;}
#news li a {color: #bb5817; text-decoration: none; font-weight:bold;}
#news li a:hover {text-decoration:underline;}
#news li a.more {color: #006633;}
#news li a.bullet {list-style: disc; }
#news a.logo:hover {background-color: #f8efc5;}*/


/********* news with picture styles ***********/
#news {
	position: absolute;
	top: 0.25em;
	left: 472px;
	width: 195px;
	margin: 0.75em 1em 5em 1em;
	background-color:#f4f4f4;
	padding: 0.5em 1em 1em 1em;
	clear:both;
}
#newsvideo {margin: 1em 0 0 0; padding:0 0 0 0; background-color:#ddd;}
#newsvideo p {margin:0; padding: 0.5em 0.5em 1em 0.5em; font-size: 75%; font-style:italic;}
#news h2 {font-family: Arial, Helvetica, sans-serif; margin-bottom:0.25em; padding:0; color: #374A3B; font-size: 90%; font-weight: bold;}
#news h3 {margin-bottom:0.7em; padding:0; color: #fff; font: bold 90% "Times New Roman", Times, serif;}
#news ul,ol {margin:0; padding:0;  font-size: 75%; }
#news li {list-style: none; margin-bottom: 0.75em;}
#news li a {color: #bb5817; text-decoration: none; font-weight:bold;}
#news li a:hover {text-decoration:underline;}
#news li a.more {color: #006633;}
#news li a.bullet {list-style: disc; }
#news a.logo:hover {background-color: #f8efc5;}

#newsad {background-color: #2c7157; margin: 1em 0 0 0; padding:0.5em 1em 0.5em 1em; width:163px;}


/************* globalNav styles ****************/

#globalNav{position: relative; top: 118px; width: 100%; height: 32px; color: #666633; padding: 0px; margin: 0px; background-image:  url(../images/glbnav_background.jpg);} 
#globalNav img{margin-bottom: -4px;}
#gnl {position: absolute; top: -6px; left:-1px;}
#gnr {position: absolute; top: 0px; right:0px;}
#globalLink{padding: 3px; z-index: 100; text-align: left; text-decoration: none; font-weight: bold; color: #FFFFFF;}
a.glink, a.glink:visited{font-size: 105%; color: white; font-weight: bold; margin: 0px; padding: 20px; text-decoration: none;}
a.glink:hover{background-image:  url(../images/glblnav_selected.jpg); text-decoration: none; color: #F8EFC5;}
a.ghomelink, a.ghomelink:visited{font-size: 105%; color: white; font-weight: bold; margin: 0px; padding: 20px; text-decoration: none;}
a.ghomelink:hover{background-image:  url(../images/glblnav_selected.jpg); text-decoration: none; color: #F8EFC5;}
.skipLinks {display: none;}

/************** feature styles *****************/

.feature{padding: 5px 20px 30px 20px; font-size: 80%; height: 150px; }
html>body .feature {height: auto;}
.feature h1{font: bold 175% Arial,sans-serif; color: #006666; padding: 20px 0px 0px 0px;}
.faculty {font: italic bold 150% Arial, sans-serif; color: #3d8e76;}

/************************ staff styles ****************/

.staff {padding: 5px 20px 30px 20px; font-size: 80%; height: 150px;}
.staff h1{font: italic bold 150% Arial, sans-serif; color: #3d8e76; text-align: left; }
.staff h2 {font-size: 120%; color: #3d8e76; text-align: center;}
.staff h3{font: bold Arial, sans-serif; font-size: 105%; color: #3d8e76; 	display:block;	background-color: #F8EFC5; background-position: center; 	text-align: center; border-top: thin solid #336600; border-right: thin solid #F8EFC5; border-bottom: thin solid #F8EFC5; border-left: thin solid #F8EFC5;}

/*************** story styles ******************/

.story {padding: 5px 5px 30px 20px; font-size: 80%;}
.story h3{font: bold Arial, sans-serif; font-size: 105%; color: #005fa9; display:block; background-color: #F8EFC5; 	background-position: center; text-align: center; border-top: thin solid #336600; border-right: thin solid #F8EFC5; border-bottom: thin solid #F8EFC5; border-left: thin solid #F8EFC5;}
.story a.capsule{font: bold 1em Arial,sans-serif; color: #005fa9;
	display:block; padding-bottom: 5px;}
.address {font-size:small} 
.story a.capsule:hover{text-decoration: none;}

/********* form and related tag styles *********/

form {margin: 0; padding: 0;}
label{font: bold 1em Arial,sans-serif; color: #334d55;}
input{font-family: Arial,sans-serif;}

/*************** search styles *****************/

#search{position: absolute; top: 5px; right: 10px; z-index: 101;}
#search input{font-size: 70%; margin: 0px  0px 0px 10px;}
#search a:link, #search a:visited {font-size: 80%; font-weight: bold;}
#search a:hover{margin: 0px;}

/********************* end **********************/
#footer {
	color: #777;
	font-size: 83%;
	clear: both;
	line-height: 1.3em;
	margin: 0;
	padding-top: 18em;
	padding-right: 0em;
	padding-bottom: 1em;
	padding-left: 0em;
}
#footer a {color: #777;}
.pullquote {margin: 0; padding: 7px 7px 7px 3px; font-size: 0.75em; color: #555; font-weight: normal; line-height: 1.4em; font-style:italic; width: 300px;}
.caption {margin: 0; padding: 0px 7px 7px 3px; font-size: 0.75em; color: #555; font-weight: normal; line-height: 1.4em; font-style:italic; width: 450px;}
